.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
  background-color: #8dd9e0;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.heading {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black; /* Couleur initiale du texte */
  transition: color 0.3s ease; /* Transition douce pour le changement de couleur */
}

.nav-link-text:hover {
  color: #ff0000; /* Couleur du texte au survol */
}

.nav-link-text:active {
  color: #00ff00; /* Couleur du texte quand le lien est actif */
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
